[Unit]
Description=Cobalt Strike TeamServer Service
After=network.target

[Service]
Type=simple
ExecStart=./teamserver {{ inventory_hostname }} StrongPassword123! ./profiles/Normal/webbug.profile
Restart=always
RestartSec=5
WorkingDirectory=/opt/cobaltstrike/server
User=root

[Install]
WantedBy=multi-user.target